
@media (max-width: 760px) 
{
   a{
	   margin:0 0.5rem;
   }
}

html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


		/*		HEADER		*/


		.header-grid{
			display: grid;
			grid-template-columns: 15fr 50fr 30fr 5fr;
			grid-template-rows: 8vh;
			grid-template-areas: "item-1" "item-2" "item-3" "item-4";
			grid-gap: 2px;
			background-color: white;
			box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
			position: relative;
			width: 100%;
		
		}


		/*		ITEM 1		*/
.header-item-1{
	grid-area: "item-1";
	display: grid;
}

.link-img-serra-jr-logo{
	margin: 0;
	padding: 0;
	width: 60%;
	height: 60%;
	justify-self: center;
	align-self: center;
}

.img-serra-jr-logo{
	max-width: 100%;
	max-height: 100%;
}


		/*		ITEM 2		*/
.header-item-2{
	grid-area: "item-2";
}



		/*		ITEM 3		*/
.header-item-3{
	grid-area: "item-3";
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 8vh;
	grid-template-areas: "subitem-3-1" "subitem-3-2" "subitem-3-3";
}

.header-subitem-3-1{
	grid-area: "subitem-3-1";
	display: grid;
}

.header-subitem-3-2{
	grid-area: "subitem-3-2";
	display: grid;
}

.header-subitem-3-3{
	grid-area: "subitem-3-3";
	display: grid;
}

.blog-link{
	justify-self: center;
	align-self: center;
	text-decoration: none;
	color: #0A1334;
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;
}

a.blog-link:hover{
	color: #FF5800;
	text-decoration: none;
}


		/*		ITEM 4		*/
.header-item-4{
	grid-area: "item-4";
	display: grid;
}

.link-img-login{
	margin: 0;
	padding: 0;
	max-width: 40%;
	max-height: 40%;
	justify-self: center;
	align-self: center;
}

.img-login{
	width: 100%;
	height: 100%;
}

.img-login-hover{
	display: none;
	width: 100%;
	height: 100%;
}

a.link-img-login:hover .img-login{
	display: none;
}

a.link-img-login:hover .img-login-hover{
	display: inline;
}