h4, h5, h5, span, p {
    font-family: 'Montserrat', sans-serif;
}

a, li, ul {
    margin: 0%;
    padding: 0%;
}

ul {
    list-style-type: none
}

.container {
    margin: 1rem auto;
    height: 100%;
}

.box-emails>h5 {
    font-family: 'Nunito', sans-serif;
}

footer {
    margin: 0;
    background: #343a40;
    color: #F5F5F5;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #FF6600;
}

.container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.icon {
    width: 5%;
    height: 5%;
}

.icon-link {
    height: 70px;
    margin: 0rem 1rem;
}

.icon-link-bottom {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem 1rem;
}

.box {
    flex: 1 1 200px;
    display: table-row;
    flex-wrap: wrap;
}

.box-informacoes>p {
    margin-top: 1rem;
}

.box-informacoes>p>span {
    margin-left: 0.5rem;
    text-align: center;
    align-items: center;
}

.container-footer-bottom {
    background-color: #2a2e33;
    bottom: 0;
    width: 100%;
}

.row-footer-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
}

.row-footer-bottom>a:hover {
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translateY(-15%);
}

@media only screen and (max-width: 600px) {
    .box {
        margin: 1rem 0rem;
    }
    .row-footer-bottom {
        justify-content: center;
        align-items: center;
    }
    .container {
        height: 100%;
    }
    footer {
        position: relative;
    }
}

